<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" >
        
    </head>

    <body>

        <center>
            <div class="main">
                <h1>
                    Encryption and Decryption
                </h1>
                <form action="/nav2enc">
                    <button type="submit" id="encryption">Encryption</button> 
                </form>
                <form action="/nav2dec">
                    <button type="submit" id="encryption">Decryption</button> 
                </form>     
 
            </div>
        </center>
     
    </body>
</html>